# **Exercise 1** - Introduction To Probability
Sekolah Data - Pacmann

---
**Mengevaluasi pemahaman praktikal materi**:
- Set and Counting
- Probability Model & Axioms
- Conditional Probability

In [3]:
# Jalankan code di bawah ini
import numpy as np
import pandas as pd
import random

from tabulate import tabulate

---
# **1. Set and Counting**
> Total: 12 Pertanyaan, 30 point

## **Case: Merencanakan Survey Produk Kopi**
> 7 pertanyaan, 7 point
---

- Untuk meningkatkan kualitas produk minuman kopi, Anda berencana ingin bertemu customer untuk menanyakan persepsi mereka mengenai beberapa fitur:
  - Harga yang sesuai
  - Porsi yang sesuai
  - Rasa yang sesuai

- Anda pertama-tama mengirimkan kuesioner ke 1.000 orang
- Setelah analisa awal, Anda mendapatkan 7 orang customer yang sangat potensial digali pendapatnya dengan cara FGD

- Didapat hasil survey persepsi terhadap kopi anda dari 7 orang customer tersebut.

|ID customer|Harga sesuai|Porsi sesuai|Rasa sesuai|
|:--:|:--:|:--:|:--:|
|1|Ya|Tidak|Tidak|
|2|Ya|Tidak|Ya|
|3|Ya|Ya|Ya|
|4|Ya|Ya|Ya|
|5|Tidak|Ya|Ya|
|6|Tidak|Tidak|Ya|
|7|Tidak|Tidak|Tidak|

---
**Pertanyaan**

Customer dengan ID berapa saja yang harus Anda hubungi apabila Anda ingin membuat FGD dengan syarat:
1. Customer yang merasa **Harga Sesuai** atau **Porsi Sesuai**
2. Customer yang merasa **Harga** dan **Porsi** sesuai
3. Customer yang merasa **Harga**-nya **tidak sesuai**
4. Customer yang merasa **Harga Sesuai** atau **Porsi Sesuai**, dan **Rasa sesuai**
5. Customer yang merasa **Harga** dan **Porsi** sesuai, atau **Rasa Sesuai**
6. Customer yang merasa **Harga** atau **Porsi** atau **Rasa**-nya **sesuai**

---
**Jawaban**

- Kita dapat menjawab pertanyaan ini dengan teori set
- Pertama-tama, kelompokkan ID customer sesuai dengan fitur yang ingin diketahui.
- Misal
  - $\Omega := \{ \text{seluruh ID customer} \}$
  - $A := \{ \text{ID customer yang merasa harganya sesuai} \}$
  - $B := \{ \text{ID customer yang merasa porsi sesuai} \}$
  - $C := \{ \text{ID customer yang merasa rasanya sesuai} \}$

---
### **Pertanyaan 1** - [1 point] <br>
Tentukan himpunan $A$, $B$, dan $C$ apabila $\Omega := \{ 1, 2, 3, 4, 5, 6, 7 \}$

In [ ]:
# Himpunan seluruh ID customer
sampel = {1, 2, 3, 4, 5, 6, 7}

print(f"ruang sampel: {sampel}")

ruang sampel: {1, 2, 3, 4, 5, 6, 7}

In [ ]:
# Isi dengan id customer berdasarkan tabel survey yang ada
A = {...}
print(f"ID customer yang merasa harga-nya sesuai, A : {A}")

B = {...}
print(f"ID customer yang merasa porsi-nya sesuai, B : {B}")

C = {...}
print(f"ID customer yang merasa rasa-nya sesuai, C : {C}")

ID customer yang merasa harga-nya sesuai, A : {Ellipsis}
ID customer yang merasa porsi-nya sesuai, B : {Ellipsis}
ID customer yang merasa rasa-nya sesuai, C : {Ellipsis}

---
### **Pertanyaan 2** - [1 point] <br>
Customer yang merasa **Harga Sesuai** atau **Porsi Sesuai**

- Untuk menjawab ini, dapat kita ubah dalam notasi himpunan sebagai: $A \cup B$
- Maka

In [ ]:
# Isi dengan ID customer yang sesuai
jawaban = {...}

print(jawaban)

{Ellipsis}

---
### **Pertanyaan 3** - [1 point] <br>
Customer yang merasa **Harga** dan **Porsi** sesuai

In [ ]:
# Isi dengan ID customer yang sesuai
jawaban = {...}

print(jawaban)

---
### **Pertanyaan 4** - [1 point] <br>
Customer yang merasa **Harga**-nya **tidak sesuai**

In [ ]:
# Isi dengan ID customer yang sesuai
jawaban = {...}

print(jawaban)

---
### **Pertanyaan 5** - [1 point] <br>
Customer yang merasa **Harga Sesuai** atau **Porsi Sesuai**, dan **Rasa sesuai**

- Yang ditanya adalah: $(A \cup B) \cap C$
- Maka

In [ ]:
# Isi dengan ID customer yang sesuai
jawaban = {...}

print(jawaban)

---
### **Pertanyaan 6** - [1 point] <br>
Customer yang merasa **Harga** dan **Porsi** sesuai, atau **Rasa Sesuai**

In [ ]:
# Isi dengan ID customer yang sesuai
jawaban = {...}

print(jawaban)

---
### **Pertanyaan 7** - [1 point] <br>
Customer yang merasa **Harga** atau **Porsi** atau **Rasa**-nya **sesuai**

In [ ]:
# Isi dengan ID customer yang sesuai
jawaban = {...}

print(jawaban)

## **Case: BUMN dan Pandemi**
> 2 Pertanyaan, 10 point
---

- Anda ingin mengeksplorasi kondisi BUMN selama masa Pandemi

Diketahui
- $U$ adalah himpunan dari seluruh BUMN publik di Indonesia
- $P$ adalah himpunan BUMN publik yang profit pada pandemi covid
- $D$ adalah himpunan BUMN publik yang membayarkan deviden pada masa covid 
- dan $L$ adalah himpunan BUMN publik yang mengalami kenaikan dari sisi jumlah pegawai.

**Pertanyaan**
1. Gambarkan area dari $P$, $D$ dan $L$ menggunakan **diagram venn**, jika diasumsikan pasti ada irisan dari setiap himpunan.
2. Interpretasikan setiap irisan dalam diagram venn tersebut dan cara mencarinya menggunakan teori himpunan.

### **Pertanyaan 1** - [6 point]
Gambarkan area dari $P$, $D$ dan $L$ menggunakan **diagram venn**, jika diasumsikan pasti ada irisan dari setiap himpunan.

---

- Dapat buat gambar diagram venn secara digital / tulis tangan
- Masukkan gambar-nya disini

### **Pertanyaan 2** - [4 point]
Interpretasikan setiap irisan dalam diagram venn tersebut dan cara mencarinya menggunakan teori himpunan.

---

- Tulis jawaban disini dengan cara meng-edit cell ini
- Jawaban dapat ditulis dalam bentuk poin-poin

## **Case: Supervisor Kebersihan**
> 3 Pertanyaan, 13 point
---

- Anda seorang supervisor bagian kebersihan di sebuah perusahaan Suka Bersih
- Perusahaan Suka Bersih hanya menerapkan 3 hari kerja dalam 1 minggu.
- Anda diminta untuk mengatur jadwal piket dari 5 orang karyawan.

- Misalkan 5 karyawan tersebut kita sebut dengan Cahya, Ana, Rezka, Ghifari, dan Imam.
- Maka, kombinasi jadwal yang mungkin adalah
   - Minggu 1: Cahya, Rezka, Imam 
   - Minggu 2: Cahya, Rezka, Ana
   - dan seterusnya

- Dapat Anda lihat, ada kondisi Cahya & Rezka bekerja di minggu pertama dan kedua.
- Apabila Anda menggaji seluruh pegawai tiap 2 minggu, maka akan ada kondisi dimana beberapa pegawai bekerja lebih dibandingkan yang lain.
- Untuk aspek keadilan dalam memberikan gaji karyawan, Anda harus menentukan rotasi mingguan yang dibutuhkan sehingga semua karyawan merasakan beban bekerja yang sama.

### **Pertanyaan 1** - [2 point]
- Berapa banyak rotasi mingguan yang dibutuhkan sehingga semua karyawan mendapatkan jatah kerja yang sama?

---

- Untuk menjawab ini, Anda dapat membuat kombinasi jadwal kerjanya dengan menjalankan code berikut

In [ ]:
# Jalankan code ini untuk menggunakan library ini
from itertools import combinations

In [ ]:
# Lengkapi Code berikut - [2 point]
jumlah_hari_kerja = ...   # Isi dengan jumlah hari kerja tiap minggunya
nama_karyawan = {"Cahya", "Ana", "Rezka", "Ghifari", "Imam"}

n_minggu = 0
for index, jadwal_kerja in enumerate(combinations(nama_karyawan, jumlah_hari_kerja)):
    print(f"shift minggu ke-{index+1} : {jadwal_kerja}")
    n_minggu += 1

print("---")
print(f"Dibutuhkan {n_minggu} rotasi mingguan agar semua karyawan mendapatkan jatah kerja yang sama")

---
Dibutuhkan 0 rotasi mingguan agar semua karyawan mendapatkan jatah kerja yang sama

- Dari data di atas, dapat dilihat, dalam rotasi mingguan tersebut Ghifari, Ana, Cahya, Rezka, dan Imam memiliki jumlah jadwal kerja yang sama, masing-masing 6.

### **Pertanyaan 2** - [8 point]
- Berapa banyak rotasi mingguan yang dibutuhkan sehingga semua karyawan mendapatkan jatah kerja yang sama, **apabila**
  1. Perusahaan menerapkan sistem kerja 4x seminggu
  2. Karyawannya sekarang ada 7 orang Cahya, Ghifari, Rezka, Ana, Imam, Shandy, dan Faizal
---

In [ ]:
# Tulis code yang dibutuhkan disini
...

### **Pertanyaan 3** - [3 point]
- Melanjutkan **Pertanyaan 2**, jika setiap shift mingguan, tiap orang yang bekerja akan dibayarkan dengan insentif Rp 350.000.
- Berapa insentif yang diterima imam di akhir rotasi?
---

In [ ]:
# Tulis code disini
insentif_imam = ....

print(f"insentif yang diterima imam di akhir rotasi adalah Rp {insentif_imam}")

---
# **2. Probability Model and Axiom**
> Total: 7 Pertanyaan

## **Case: Popularitas Makanan**
---

- Anda adalah seorang pemilik warung makan nasi Tradisional yang ingin mengembangkan bisnis.
- Untuk keperluan itu, Anda ingin mencari menu nasi yang memiliki peluang untuk lebih mudah terjual dari kepopuleran-nya (dari banyaknya orang yang membeli).
- Untuk itu, Anda melakukan survey dari 50.000 menu nasi yang dipesan terakhir (data survey dibuat secara random)

In [ ]:
# Daftar menu nasi Tradisional
menu_makanan = ["Nasi Pecel", "Nasi Rawon", "Nasi Gule",
                "Nasi Padang", "Nasi Ayam", "Nasi Gudeg"]

In [ ]:
# CODE DIBAWAH INI JANGAN DIGANTI
# Fungsi untuk membuat data popularitas menu makanan

def random_survey_makanan(menu_makanan, jumlah_pesanan):
    # agar output random sama
    random.seed(1)

    # mencari survey menu nasi yang dipesan secara random
    hasil = []
    for _ in range(jumlah_pesanan):
        hasil.append(random.choice(menu_makanan))
    data = pd.DataFrame({"Menu Makanan": hasil})

    return data

- Berikut adalah data 50.000 menu nasi yang dipesan terakhir

In [ ]:
# Jalankan code ini
data_makanan = random_survey_makanan(menu_makanan, jumlah_pesanan=50000)
data_makanan

      Menu Makanan
0       Nasi Rawon
1        Nasi Ayam
2       Nasi Pecel
3        Nasi Gule
4       Nasi Pecel
...            ...
49995   Nasi Rawon
49996  Nasi Padang
49997  Nasi Padang
49998  Nasi Padang
49999    Nasi Ayam

[50000 rows x 1 columns]

---
**Pertanyaan**
- Anda ingin mengetahui beberapa hal
  1. Peluang dari menu makanan nasi Padang terjual
  2. Peluang dari menu makanan nasi Gudeg **atau** nasi Ayam terjual
  3. Peluang dari menu makanan **selain** nasi Gudeg, nasi Ayam, dan Nasi Padang terjual

###**Untuk menjawab** peluang dari menu makanan **nasi Padang** terjual, $P(\text{nasi Padang})$

---
#### **Pertanyaan 1** - [1 point]
Carilah ada berapa jumlah data menu makanan nasi Padang terjual?

In [ ]:
# Lengkapi Code berikut
n_A = ...

print(f"Jumlah kejadian A (jumlah orang yang memesan menu Nasi Padang): {n_A}")

---
#### **Pertanyaan 2** - [2 point]
Berapa nilai Probability dari menu Nasi Padang terjual?

<details>
    <summary><b>Klik untuk melihat Hint 💡</b></summary>

Jika lupa, bisa merujuk ke materi `Probability Model and Axiom - "Event"`!

</details>

---

In [ ]:
# Lengkapi code berikut
# p_A berisi probability dari menu nasi padang terjual
p_A = ...

print(f"Nilai Probability dari menu Nasi Padang terjual adalah {p_A}")

---
###**Untuk menjawab** peluang dari menu makanan **nasi Gudeg** atau **nasi Ayam** terjual

Asumsikan
- $B := \{ \text{menu nasi Gudeg} \}$
- $C := \{ \text{menu nasi Ayam} \}$

---
#### **Pertanyaan 3** - [3 point]
Berapa nilai Probability dari Popularitas menu makanan Nasi Gudeg atau Nasi Ayam?

<details>
    <summary><b>Klik untuk melihat Hint #2 💡</b></summary>

Jika lupa cara menghitungnya, bisa merujuk ke materi `Probability Model and Axiom - "Axioms of Probability"`
</details>

---

In [ ]:
# Lengkapi Code Berikut
# Probability event B (nasi Gudeg)
p_B = ...

# Probability event C (nasi Ayam)
p_C = ...

# Probability gabungannya (nasi Gudeg u nasi Ayam)
p_B_union_C = ...

# Tampilkan hasil
print(f"- Nilai Probability terjualnya menu Nasi Gudeg {p_B} dan Nasi Ayam {p_C}")
print(f"- Jika dijumlahkan hasilnya adalah {p_B_union_C}")

---
### **Untuk menjawab** Peluang dari menu makanan **selain** nasi Gudeg, nasi Ayam, dan Nasi Padang terjual

---
#### **Pertanyaan 4** - [7 point]
Berapa nilai Probability dari menu makanan selain `Nasi Gudeg`, `Nasi Ayam`, `Nasi Padang` terjual?

**Tulis penjelasan disini**

In [ ]:
# Tulis perhitungan dengan code disini
...

## **Case: Menerka Hasil Pertandingan Sepak Bola**
---

- Diberikan data `hasil-pertandingan.csv` head to head pertandingan antara Pacmann FC melawan Valeria FC dari tahun 1950 s.d 2022
- Dari masing - masing tahun akan mendapatkan hasil `Menang`, `Kalah`, atau `Seri`

**Pertanyaan**
- Tentukan Probability kemenangan tim Pacmann FC dari tahun 1950 s.d 2022
- Tentukan Probability kekalahan atau seri tim Pacmann FC dari tahun 1950 s.d 2022
- Apabila Pacmann FC akan bertanding kembali di tahun 2023, kira-kira hasil apa yang akan didapatkan oleh Pacmann FC?

---
**Load Data**

In [ ]:
data_pertandingan = pd.read_csv("hasil-pertandingan.csv")
data_pertandingan.head()

# Nama dataset adalah data_pertandingan

   Tahun   Hasil
0   1950  Menang
1   1951  Menang
2   1952    Seri
3   1953   Kalah
4   1954  Menang

---
#### **Pertanyaan 1** - [4 point]
Tentukan probability kemenangan tim Pacmann FC

In [ ]:
# Silahkan tulis code anda disini
...

---
#### **Pertanyaan 2** - [8 point]
Tentukan probability Tim Pacmann FC kalah atau seri

In [ ]:
# Silahkan tulis code anda disini
...

---
#### **Pertanyaan 3** - [2 point]
Apabila Pacmann FC akan bertanding kembali di tahun 2023, kira-kira hasil apa yang akan didapatkan oleh Pacmann FC?

In [ ]:
jawaban = """
- Tulis jawaban disini
- Dalam bentuk poin-poin
- Poin A
- Poin B
- Kemudian jalankan cell-nya
"""

print(jawaban)

---
# **3. Conditional Probability**
> Total: 5 Pertanyaan, 35 point

## **Case**: Survey Lalu-lintas Perkotaan
> 2 pertanyaan, 14 point
---
- Case untuk **memahami kondisi keamanan lalu lintas** di suatu kota
- Dirangkum lewat survey yang dilakukan ke 10.000 pengemudi di suatu kota selama 5 tahun.
- Berisi informasi kelompok usia & jumlah kecelakaan yang terjadi.

Berikut adalah hasil survey-nya

|**Kelompok Usia**|18-25|26-39|40-55|55+|
|:--:|:--:|:--:|:--:|:--:|
|0-1 Kecelakaan|1.000|1.500|2.500|750|
|2-3 Kecelakaan|1.500|250|1.250|250|
|3+ Kecelakaan|500|250|250|0|

---
Misal, kita **memilih secara acak seorang pengemudi** dalam suatu kelompok usia,

### **Pertanyaan 1** - [5 point]
Berapa peluang pengemudi mengalami 2-3 kecelakaan jika diketahui pengemudi tersebut ada dalam kelompok usia 18-25 tahun?

---

- Kita tau yang ditanya adalah $P(\text{2-3 kecelakaan} \ | \ \text{18-25 tahun})$
- Maka, kita bisa menjawab ini dengan conditional probability

$$
\begin{align*}
P(\text{2-3 kecelakaan} \ | \ \text{18-25 tahun}) &= \cfrac{n(\text{2-3 kecelakaan} \cap \text{18-25 tahun})}{n(\text{18-25 tahun})}
\end{align*}
$$

- Langsung saja kita cari jawabannya dengan Python
  - Kita sebut $A := \{ \text{2-3 kecelakaan} \}$
  - Kita sebut $B := \{ \text{18-25 tahun} \}$
  - Maka

$$
\begin{align*}
P(\text{2-3 kecelakaan} \ | \ \text{18-25 tahun}) &= \cfrac{n(\text{2-3 kecelakaan} \cap \text{18-25 tahun})}{n(\text{18-25 tahun})} \\
P(A \ | \ B) &= \cfrac{n(A \cap B)}{n(B)}
\end{align*}
$$

In [ ]:
# Langkah 1 - Cari jumlah kejadian - [2 point]
# Dari data
n_A_dan_B = ...
n_B = ...

print(n_A_dan_B)
print(n_B)

In [ ]:
# Langkah 2 - Cari peluangnya - [3 point]
p_A_dan_B = ...

print(f"peluang pengemudi mengalami 2-3 kecelakaan jika diketahui pengemudi tersebut usianya antara 18-25 tahun adalah {p_A_dan_B:.2f}")

### **Pertanyaan 2** - [9 point]
Berapa peluang pengemudi mengalami kurang dari 2 kecelakaan jika diketahui pengemudi tersebut ada dalam kelompok usia 26-39 tahun?

---

Anggap:
  - Kita sebut $A := \{ \text{0-1 kecelakaan} \}$
  - Kita sebut $B := \{ \text{26-39 tahun} \}$

**Jelaskan proses menjawabnya pada cell ini**

Menjelaskan proses akan mendapatkan 5 point

In [ ]:
# menjawab ini dengan benar mendapat 4 point
# Buat code untuk menghitung probability-nya disini
...

# Cari peluangnya dan masukkan nilainya dalam variable
p_A_dan_B = ...

print(f"peluang pengemudi mengalami kurang dari 2 kecelakaan jika diketahui pengemudi tersebut usianya antara 26-39 tahun adalah {p_A_dan_B:.2f}")

## **Case**: Survey Product Software Business Intelligence (BI)
> 3 pertanyaan, 21 point
---
- Case untuk **memahami produk Software BI**, Anda melakukan survey untuk mendapatkan feedback pada software BI yang telah di launch.
- Survey ini fokus untuk memeriksa 2 hal:
  - Apakah ingin memperpanjang penggunaan produk?
  - Apakah ingin merekomendasikan produk ke orang lain?

- Anda ingin memeriksa kondisi produk Software BI yang telah dibuat

- Berikut adalah hasil survey-nya

In [ ]:
# Jalankan code ini
# CATATAN: CODE DIBAWAH INI JANGAN DIGANTI
def generate_random_survey(jumlah_peserta_survey):
    random.seed(1)
    
    hasil_survey = []
    for _ in range(jumlah_peserta_survey):
        if random.random() > 0.75:
            ingin_memperpanjang = "ya"
        else:
            ingin_memperpanjang = "tidak"

        if random.random() > 0.3:
            ingin_merekomendasikan = "ya"
        else:
            ingin_merekomendasikan = "tidak"
        
        hasil_survey.append([ingin_memperpanjang, ingin_merekomendasikan])

    hasil_survey = pd.DataFrame(data=hasil_survey,
                                columns={"ingin memperpanjang penggunaan",
                                 "ingin merekomendasikan produk"})
    
    n_memperpanjang_and_merekomendasikan = len(hasil_survey[(hasil_survey["ingin memperpanjang penggunaan"]=="ya") 
                                                             & (hasil_survey["ingin merekomendasikan produk"]=="ya")])
    
    n_memperpanjang_and_tidak_merekomendasikan = len(hasil_survey[(hasil_survey["ingin memperpanjang penggunaan"]=="ya") 
                                                             & (hasil_survey["ingin merekomendasikan produk"]=="tidak")])
    
    n_tidak_memperpanjang_and_merekomendasikan = len(hasil_survey[(hasil_survey["ingin memperpanjang penggunaan"]=="tidak") 
                                                             & (hasil_survey["ingin merekomendasikan produk"]=="ya")])
    
    n_tidak_memperpanjang_and_tidak_merekomendasikan = len(hasil_survey[(hasil_survey["ingin memperpanjang penggunaan"]=="tidak") 
                                                             & (hasil_survey["ingin merekomendasikan produk"]=="tidak")])
    
    headers = ["Hasil Survey", "merekomendasikan", "tidak merekomendasikan"]
    data = [["memperpanjang", n_memperpanjang_and_merekomendasikan, n_memperpanjang_and_tidak_merekomendasikan],
            ["tidak memperpanjang", n_tidak_memperpanjang_and_merekomendasikan, n_tidak_memperpanjang_and_tidak_merekomendasikan]]

    print(tabulate(data, headers=headers))

### **Pertanyaan 3** - [4 point]
- Jika dilakukan survey ke **10.000** orang, 
- Berapa peluang seorang **merekomendasikan produk** jika diketahui **memperpanjang penggunaan**?

---

In [ ]:
# Langkah 1 - [1 point]
# Tulis jumlah yang disurvey
n_survey = ...

print(n_survey)

In [ ]:
# Langkah 2 - [1 point]
# Generate hasil survey dengan memanggil fungsi-nya
generate_random_survey(jumlah_peserta_survey=...)

In [ ]:
# Langkah 3 - [2 point]
# Hitung probability yang dimaksud
n_merekomendasikan_dan_memperpanjang = ...
n_memperpanjang = ...

p = n_merekomendasikan_dan_memperpanjang / n_memperpanjang
print(f"peluangnya adalah : {p:.2f}")

### **Pertanyaan 4** - [9 point]
- Jika dilakukan survey ke **1.500.000** orang, 
- Berapa peluang seorang **merekomendasikan produk** jika diketahui **tidak memperpanjang penggunaan**?

---

In [ ]:
# Buat code untuk menghitung probability-nya disini
...

# Cari peluangnya dan masukkan nilainya dalam variable
p = ...

print(f"peluang orang merekomendasikan produk jika diketahui tidak memperpanjang penggunaan adalah {p:.2f}")

### **Pertanyaan 5** - [8 point]
- Berdasarkan 2 informasi di atas, apakah ada potensi masalah yang muncul dari software BI tersebut?

---

In [ ]:
jawaban = """
# Tulis analisa anda disini dalam bentuk point, contoh:
- poin 1
- poin 2
"""

print(jawaban)